<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1> Tutoring Hours For All Tutors Between <% @begin.to_s %> and <% @end.to_s %> </h1>
  <p> Thank you for using our service. Your request has been rendered in a CSV and attached to this email. </p>

</body>

</html>