
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Tutor Courses Page</h1>
      <h2>These are classes you have made an A or B in, and therefore are qualified to offer tutoring for</h2>
    </div>
  </div><div class="row">
    <div class="col-12 mt-3">
      <table class="table" id="course_users">
        <thead>
          <tr>
            <th scope="col">Department</th>
            <th scope="col">Course</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.courses.each do |course| %>
          <tr class='userInfo'>
            <td><%= Department.where(id: course.department_id).department_name  %></td>
            <td><%= course.course_name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
</div>
