
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>New Tutor Courses Page</h1>
      <%= form_for(Department.new) do |f| %>

        <div class="field">
          <%= f.label :department_name %>
          <%= f.text_field :department_name,  autocomplete: "CSCE", class: "form-control", required: true %>
        </div>

        <div class="actions">
          <%= c.submit "New", class: 'btn btn-primary mt-2' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
