
<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <p><%= link_to "Create New Course", new_course_path  %></p>
      <p><%= link_to "Add Existing Course", edit_tutor_path(@user) %>.
        <h2> My Courses </h2>
      <table class="table" id="courses">
        <thead>
          <tr>
            <th scope="col">Department</th>
            <th scope="col">Course</th>
          </tr>
        </thead>
        <tbody>
          <% @user.courses.each do |course| %>
          <tr class='userInfo'>
            <td><%= Department.find_by(id: course.department_id).department_name %></td>
            <td><%= course.course_name  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
