<!-- won't be accessed, but present so the controller doesn't get confused -->
<h6>Please go back to tutor matching</h6>
<%= button_to "Return to Tutor Matching", {:action => 'index'}, :method => :get,  class: "btn btn-primary float-left" %>

