<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a pending application from <%= @student.full_name %></h1>
    <p>
      To view your pending student applications, go to <a href="<%= @url %>"><%= @url %></a>
    </p>
  </body>
</html>