<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your application to the tutoring session scheduled for 
      <%= @tsession_date %>
      has been <%= @link_action %></h1>
    <p>
      The tutor included the following message:
    </p>
    <p>
      <%= @message %>
    </p>
    <% if @link_action.downcase == 'denied' %>
      <p>
        The application being denied could have been done for a variety of reasons, from being too full or to the session being canceled.
      </p>
      <p>If you think this is an error, you can contact the tutor at <%= @to.email %>.</p>
    <% end %>
  </body>
</html>