
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Tutor Courses Page</h1>
      <h2>These are Tutors have made an A or B in this class, and therefore are qualified to offer tutoring for</h2>
    </div>
  </div><div class="row">
    <div class="col-12 mt-3">
      <table class="table" id="course_users">
        <tbody>
          <% current_user.courses.each do |course| %>
          <tr class='userInfo'>
            <th scope="row"><%= course_users.id %></th>
            <td><%= Department.where(id: course.department_id).department_name  %></td>
            <td><%= course.course_name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
</div>
