<h1>Student Home Page</h1>
<%= button_to "Create temp data", {:action => 'create'}, :method => :post %>
<%= button_to "Delete temp data", {:action => 'delete'}, :method => :post %>
<!--
    TODO: Add the user to the params passed in to schedule
        ex: {:action => 'schedule', :user => User.get(1)}, :method => :get
-->
<%= button_to "Schedule tutoring session", {:action => 'schedule'}, :method => :get %>
<ul>
  <% @students.each do |user| %>
  <li>
    <%= link_to user.uin, user %>
  </li>
  <% end %>
</ul>