// Place all the styles related to the TutorSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tutoring-index {
  margin-bottom: 2em;
  .calendar {
    @media (min-width: 768px) {
      .col-day {
          float: left;
      }
      .col-day {
          width: calc(100%/7);
      }
    }
  
    .calendar-header {
      .col-day {
        text-align: center;
        background: #0892a5;
  
        p {
          margin: .5em 0 .7em;
          font-weight: bold;
          color: #fff;
        }
      }
    }
    
    .calendar-body {
      .col-day {
        border-left: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        min-height: calc(60*24px);
        position: relative;
  
        &:last-child {
          border-right: 1px solid #E5E5E5;
        }
  
        .tsession {
          position: absolute;
          left: 5px;
          right: 5px;
          border-radius: 5px;
          cursor: pointer;
          
          &.status-new {
            background-color: #db504a;
          }
          &.status-pending {
            background-color: #ffb563;
          }
          &.status-confirmed {
            background-color: #8ed081;
          }
  
          .tsession-content {
            position: relative;
            padding: 5px 5px 8px 15px;
            color: #fff;
  
            i.edit {
              position: absolute;
              right: 10px;
              top: 10px;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.show-pending {
  i {
    font-size: 1.5em;
  }
}